/*****--------------------------
    共通
----------------------****/

body {
    background-color: #f2edd7;
}
/*****--------------------------
    実行画面
----------------------****/

.content{
    margin-top:20px;
    margin-bottom:50px;
    text-align:center;
}
.buttonItem{
    position: relative;
    width:280px;
    margin: 5px auto;
}

.executeButton{
    display: inline-block;
    padding: 0.6em 1em 0.2em 1em;
    width:200px;
    height:30px;
    margin :10px;
    text-decoration: none;
    color: #3a6351;
    border: solid 2px #3a6351;
    background-color:white;
    border-radius: 3px;
    transition: .4s;
    text-align:center;
    font-size:15px;
}

.executeButton:hover {
    background: #3a6351;
    color: white;
}

.configureButton{
    display: inline-block;
    padding: 0.6em 1em 0.2em 1em;
    width:200px;
    height:30px;
    margin :10px;
    text-decoration: none;
    color: #f2edd7;
    background-color:#e48257;
    border-radius: 3px;
    transition: .4s;
    text-align:center;
    font-size:15px;
}

/*****
    設定ボタン
****/
.configButton {
    background-image: url("../img/config.png");
    background-size: cover;
    width:30px;
    height:30px;
    position: absolute;
    top :15px;
    right: 5px;
}


/*****--------------------------
    設定画面
----------------------****/

/*****
    設定タイトル
****/

.configTitle{
    padding: .5em .75em;
    background-color: #393232;
    border-radius: 6px;
    width:300px;
    color:#f6f6f6;
    margin: 2px auto;
    text-align:center;
    margin-top:20px;
}
.configTitle:first-letter {
margin-right: .1em;
font-size: 1.5em;
}


/*****
    設定追加ボタン
****/
.addButton {

    background-image: url("../img/add.png");
    background-size: cover;
    width:30px;
    height:30px;
    margin: 0 auto;

}



/*****
    戻るボタン
****/
.backButton{
    background-image: url("../img/back.png");
    background-size: cover;
    width:30px;
    height:30px;
    position: absolute;
    left: 10px;
    top:20px;
}
/*****
    削除ボタン
****/
.deleteButton {
    background-image: url("../img/delete.png");
    background-size: cover;
    width:30px;
    height:30px;
    position: absolute;
    right: -10px;
    top:-10px;
}
/*****
    inputItem
****/
.inputItem{
    padding: 5px ;
    margin: 12px;
    border: 2px solid #393232;
    position: relative;
    background-color: #f2edd7;
}
/*****----------------------
    共通 input
----------------------****/
input[type="text"]{
    border:0;
    padding:10px;
    font-size:1.3em;
    font-family:Arial, sans-serif;
    color: #393232;
    border:solid 1px #393232;
    width:80%;
    margin: 3px auto;
}
